<h2>Calculator</h2>

<div ng-controller="calculatorController as vm">
    <input type="number" ng-model="vm.values.first" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
    <select ng-model="vm.sign" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
        <option value="+">+
        <option value="-">-
        <option value="*">*
        <option value="/">/
    </select>
    <input type="number" ng-model="vm.values.second" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
    = {{vm.result}}
</div>