<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="calculatorApp">
    <div ng-view></div>
    <!--<div ng-controller="calculatorController as vm">
        <input type="number" ng-model="vm.values.first" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
        <select ng-model="vm.sign" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
            <option value="+">+
            <option value="-">-
            <option value="*">*
            <option value="/">/
        </select>
        <input type="number" ng-model="vm.values.second" ng-change="vm.doCalculations(vm.sign, vm.values.first, vm.values.second)">
        = {{vm.result}}
    </div>-->
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="calculatorapp.js"></script>
    <script src="services/calculatorservice.js"></script>
    <script src="controllers/calculatorcontroller.js"></script>
    <script src="../Scripts/angular-route.js"></script>
 
</body>
</html>